@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica, sans-serif;
}

#wrapper {
	width: 960px;
}

#starryNight {
	float: left;
}

#acmeLogo {
	float: left;
}

#gifLogo {
	float: left;
}

#gifdivLogo {
	background-color: #2e2e2e;
	width: 612px;
}

#png8Logo {
	float: left;
}

#png8divLogo {
	background-color: #2e2e2e;
	width: 612px;
}

#png24Logo {
	float: left;
}

#png24divLogo {
	background-color: #2e2e2e;
	width: 612px;
}